* {
    box-sizing: border-box;
}

html, body, div, p, img, footer,section {
    margin: 0;
    padding: 0;
    border: 0;

}

.content-text {
    position: absolute;
    top: 250px;
    text-align: center;
    max-width: 100%;
    width: 100%;
    padding: 0 50px;
}

.content-wrapper {
    background: #d9d9d9;
}

.content-title {
    letter-spacing: -0.03em;
    font-weight: normal;
    font-size: 60px;
    margin-bottom: 5px;
	line-height: 110%;
	color: #d9d9d9;
}

.content-heading {
    font-size: 25px;
    color: #333;
    font-weight: normal;
	color: grey;
}

.content-image {
    max-width: 100%;
    height: 100vh;
    width: 100%;
    object-fit: cover;
	display: block;
}

.navbar {
    overflow: hidden;
    background-color: #333;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
	z-index: 99999;
}
.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
	letter-spacing: 0.06em;
    text-transform: uppercase;
    font-weight: 1000;
    font-size: 14px;
	font-family: Montserrat;
	transition-duration: 0.4s;
}
.navbar a:hover {
    background: #ddd;
    color: black;
	   text-decoration: none;
	letter-spacing: 0.06em;
    text-transform: uppercase;
    font-weight: 1000;
    font-size: 14px;
	font-family: Montserrat
}

.content-heading p{
	margin: 0 0 1em 0;
	/*font-family: Quicksand,sans-serif;*/
	/*font-family: 'Frank Ruhl Libre', serif;*/
    font-weight: 100;*/
    font-style: normal;
    letter-spacing: 0.02em;
    line-height: 170%;
	/*margin: 0;*/
    padding: 0;
    border: 0;
    /*font-size: 100%;*/
    /*font: inherit;*/
    vertical-align: baseline;
	display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.sec-container {
    /* max-width: 77%; */
    max-width: calc(77% + 20px);
    /* max-width: 1500px; */
    /* max-width: 80%; */
    max-width: calc(80% + 20px);
    margin: 0 auto;
    /* padding: 0 15px; */
    padding-top: 90px;
}

.sec-heading {
    text-align: center;
    padding-bottom: 40px;
    margin: 0;
	color: black;
	letter-spacing: 0.06em;
    text-transform: uppercase;
    font-weight: 1000;
    font-size: 18px;
	font-family: Montserrat;
}

.sec-flex-container {
    display: flex;
    flex-wrap: wrap;
}

.sec-flex-item {
    width: 50%;
    padding: 10px;
}

.sec-flex-item-content {
    position: relative;
    overflow: hidden;
}

.sec-image {
    width: 100%;
    height: 430px;
    object-fit: cover;
	transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: ease;
    transition-delay: 0s;
    display: block;
}

/*@media screen and (max-width: 1500px)*/
.th-container {
    /* max-width: 77%; */
    max-width: calc(77% + 20px);
    /* max-width: 1500px; */
    /* max-width: 80%; */
    max-width: calc(80% + 20px);
    margin: 0 auto;
    /* padding: 90px 15px; */
    padding: 90px 0;
}

.th-heading {
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: black;
	font-weight: 1000;
    font-size: 18px;
	font-family: Montserrat;
}


.th-flex-container {
    display: flex;
    flex-wrap: wrap;
}

.th-flex-item {
    width: 33.3%;
    padding: 10px;
    /* padding-right: 20px; */
}

.th-flex-item-content {
    position: relative;
    overflow: hidden;
}

.th-image {
    max-width: 100%;
    height: 475px;
    width: 100%;
    object-fit: cover;
    /* margin-bottom: -7px; */
    transition: all 0.5s;
    display: block;
}

.fo-title {
    margin: 0;
	display: block;
    width: 100%;
    color: black;
    line-height: 1.2;
	position: relative;
	letter-spacing: 0.06em;
    font-weight: 1000;
    font-size: 18px;
	font-family: Montserrat;
	text-align: center;
}


.fo-flex-item {
    width: 25%;
    padding: 10px;
    /* padding-right: 20px; */
}

.custom-header-container {
    display: flex;
    width: 100%;
    align-items: center;
	margin: auto;
    padding: 0 1.5rem;
    max-width: 95% !important;
	box-sizing: initial;
}

.main-menu .item {
    position: relative;
    font-family: inherit;
    margin: 0;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    font-weight: 400;
}

#footer {
	width: 100%; 
	color: #f3eeea; 
	margin: 0; 
	background-color: #314438; 
	border-top: 1px solid rgba(0,0,0,0); 
	}

#footer .container {
	max-width: 80%;
	}
	
#footer .wrapper {
	width: 100%; 
	}
	
#footer .left-section{
	width: 30%;
}

#footer .top {
	padding: 5em 0;

}

#footer a:hover {
	color: #8dc0d2;
}

#footer .title {
	line-height: 150%; 
	font-weight: 500; 
	letter-spacing: 0.05em; 
	font-size: 1.3em; 
	margin-bottom: 0.2em; 
	text-transform: uppercase;
}
  
  
#shopify-section-4 {
	background-color: #f2f2f2;
}


.container {
	margin: auto;
}

.sec-link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 30px;
}

.sec-title {
    display: block;
    width: 100%;
    color: black;
    font-weight: bold;
    margin: 0;
    padding: 5px 120px 0 30px;
    line-height: 1.2;
	position: relative;
	letter-spacing: 0.06em;
    text-transform: uppercase;
    font-weight: 1000;
    font-size: 18px;
	font-family: Montserrat;
}

.th-title {
    display: block;
    width: 100%;
    color: black;
    font-weight: bold;
    margin: 0;
    line-height: 1.2;
	position: relative;
	letter-spacing: 0.06em;
    text-transform: uppercase;
    font-weight: 1000;
    font-size: 18px;
	font-family: Montserrat;
	text-align: center;
}


.sec-subheading {
    display: block;
    width: 100%;
    color: black;
    font-weight: normal;
    font-size: 16px;
    margin: 0;
    padding: 4px 120px 0 30px;
    line-height: 1.2;
	position: relative;
	text-transform: uppercase;
    font-weight: 1000;
    font-size: 14px;
	font-family: Montserrat;
}

a {
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.fo-container {
    /* max-width: 1500px; */
    margin: 0 auto;
    padding: 90px 15px;
    max-width: calc(80% + 75px);
}


.fo-heading {
    font-weight: normal;
    font-size: 40px;
    letter-spacing: -0.03em;
    color: #314438;
    margin: 0;
    padding: 0 40px 40px 10px;
    position: relative;
    max-width: 1500px;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.slick-slide {
    <!display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}

.fo-slider-content {
    background: #fff;
    position: relative;
}

.аfo-image {
    max-width: 100%;
    height: 475px;
    width: 100%;
    object-fit: cover;
    /* margin-bottom: -7px; */
    transition: all 0.5s;
    display: block;
}

.fo-slider-text {
    padding: 20px 25px;
}

.fo-title {
    font-weight: bold;
    font-size: 16px;
    color: #314438;
    margin: 0;
}

.fo-heading {
    font-weight: normal;
    font-size: 14px;
    color: #314438;
    opacity: 0.6;
    margin: 0;
}

.scale {
    display: inline-block; /* Строчно-блочный элемент */
    overflow: hidden; /* Скрываем всё за контуром */
   }
   
.scale img {
    transition: 1s; /* Время эффекта */
    display: block; /* Убираем небольшой отступ снизу */
   }
   
.scale img:hover {
    transform: scale(1.1); /* Увеличиваем масштаб */
   }
   
.box div {
	display: inline-block;
	<!width: 0px;
}

