* {
	box-sizing: border-box;
}

body {
	background: #d9d9d9;
}

div{
	margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
	display: block;
}

html, body, div, p, img, footer,section {
    margin: 0;
    padding: 0;
    border: 0;
}

.navbar {
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
	z-index: 99999;
}

.navbar a {
    float: left;
    display: block;
	text-decoration: none;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
	letter-spacing: 0.06em;
    text-transform: uppercase;
    font-weight: 1000;
    font-size: 14px;
	font-family: Montserrat;
	transition-duration: 0.4s;
}
.navbar a:hover {
    background: #f2f2f2;
	text-decoration: none;
    color: #333;
	letter-spacing: 0.06em;
    text-transform: uppercase;
    font-weight: 1000;
    font-size: 14px;
	font-family: Montserrat
}


.product-wrap {
    margin: 0;
    overflow: visible;
}

.product-gallery{
	width: 50%;
    position: relative;
    z-index: 4;
}

.product-info{
    width: 50%;
    max-width: 60.8em;
    padding: 3em 5em 2.5em;
    position: relative;
}

.sec-container {
    max-width: calc(90% + 20px);
    margin: 0 auto;
    padding-top: 50px;
}

.sec-heading {
    text-align: center;
    padding-bottom: 40px;
    margin: 0;
	color: black;
	letter-spacing: 0.06em;
    text-transform: uppercase;
    font-weight: 500;
	color: #333;
    font-size: 23px;
	font-family: 'Frank Ruhl Libre';
	/*font-family: Montserrat;*/
}

.sec-flex-container {
    display: flex;
    flex-wrap: wrap;
}

.sec-flex-item-content {
    position: relative;
    overflow: hidden;
}

.sec-flex-item {
    width: 50%;
    
}

.sec-image {
    width: 100%;
    height: 800px;
    object-fit: cover;
    display: block;
}

.sec-title {
    display: block;
    width: 100%;
    color: black;
    font-weight: 1000;
    margin: 0;
    padding: 5px 120px 0 30px;
    line-height: 1.2;
	position: relative;
	letter-spacing: 0.06em;
    text-transform: uppercase;
    font-size: 18px;
	font-family: Montserrat;
}

.sec-subheading {
    display: block;
    width: 100%;
    color: black;
    margin: 0;
    padding: 270px 4px 0px 30px;
    line-height: 1.2;
	position: relative;
    font-weight: 1000;
    font-size: 18px;
	font-family: Montserrat;
	text-align: center;
	
}

.scale {
    display: inline-block;
    overflow: hidden; 
}
   
.scale img {
    transition: 1s;
    display: block; 
}
   
.scale img:hover {
    transform: scale(1.1);
}