* {
    box-sizing: border-box;
}

html, body, div, p, img, footer,section {
    margin: 0;
    padding: 0;
    border: 0;
}

.container {
	margin: auto;
}

.navbar {
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
	z-index: 99999;
}

.navbar a {
    float: left;
    display: block;
	text-decoration: none;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
	letter-spacing: 0.06em;
    text-transform: uppercase;
    font-weight: 1000;
    font-size: 14px;
	font-family: Montserrat;
	transition-duration: 0.4s;
}
.navbar a:hover {
    background: #f2f2f2;
	text-decoration: none;
    color: #333;
	letter-spacing: 0.06em;
    text-transform: uppercase;
    font-weight: 1000;
    font-size: 14px;
	font-family: Montserrat
}

.content-wrapper {
    background: #d9d9d9;
}

.content-text {
    position: absolute;
    top: 250px;
    text-align: center;
    max-width: 100%;
    width: 100%;
    padding: 0 50px;
}

.content-title {
    letter-spacing: -0.03em;
    font-weight: normal;
    font-size: 60px;
    margin-bottom: 5px;
	line-height: 110%;
	color: #d9d9d9;
}

.content-heading {
    font-size: 25px;
    color: #333;
    font-weight: normal;
	color: grey;
}

.content-image {
    max-width: 100%;
    height: 100vh;
    width: 100%;
    object-fit: cover;
	display: block;
}

.scale {
    display: inline-block;
    overflow: hidden; 
}
   
.scale img {
    transition: 1s;
    display: block; 
}
   
.scale img:hover {
    transform: scale(1.1);
}
   
.box div {
	display: inline-block;
}

.sec-container {
    max-width: calc(80% + 20px);
    margin: 0 auto;
    padding-top: 90px;
}

.sec-heading {
    text-align: center;
    padding-bottom: 40px;
    margin: 0;
	color: black;
	letter-spacing: 0.06em;
    text-transform: uppercase;
    font-weight: 1000;
    font-size: 18px;
	font-family: Montserrat;
}

.sec-flex-container {
    display: flex;
    flex-wrap: wrap;
}

.sec-flex-item-content {
    position: relative;
    overflow: hidden;
}

.sec-flex-item {
    width: 50%;
    padding: 10px;
}

.sec-image {
    width: 100%;
    height: 430px;
    object-fit: cover;
    display: block;
}

.sec-title {
    display: block;
    width: 100%;
    color: black;
    font-weight: 900;
    margin: 0;
    padding: 5px 120px 0 30px;
    line-height: 1.2;
	position: relative;
	letter-spacing: 0.06em;
    text-transform: uppercase;
    font-size: 18px;
	font-family: Montserrat;
}

.sec-subheading {
    display: block;
    width: 100%;
    color: black;
    margin: 0;
    padding: 4px 120px 0 30px;
    line-height: 1.2;
	position: relative;
	text-transform: uppercase;
    font-weight: 1000;
    font-size: 14px;
	font-family: Montserrat;
}

.th-container {
    max-width: calc(80% + 20px);
    margin: 0 auto;
    padding: 90px 0;
}

.th-flex-container {
    display: flex;
    flex-wrap: wrap;
}

.th-flex-item {
    width: 33.3%;
    padding: 10px;
}

.th-flex-item-content {
    position: relative;
    overflow: hidden;
}

.th-image {
    max-width: 100%;
    height: 475px;
    width: 100%;
    object-fit: cover;
    display: block;
}

.th-title {
    display: block;
    width: 100%;
    color: black;
    margin: 0;
    line-height: 1.2;
	position: relative;
	letter-spacing: 0.06em;
    text-transform: uppercase;
    font-weight: 1000;
    font-size: 18px;
	font-family: Montserrat;
	text-align: center;
}

#shopify-section-4 {
	background-color: #f2f2f2;
}

.fo-flex-item {
    width: 25%;
    padding: 10px;
}

.fo-title {
    margin: 0;
	display: block;
    width: 100%;
    color: black;
    line-height: 1.2;
	position: relative;
	letter-spacing: 0.06em;
    font-weight: 1000;
    font-size: 18px;
	font-family: Montserrat;
	text-align: center;
}

.fi-container {
    margin: 0 auto;
    padding: 90px 15px;
    max-width: calc(80% + 75px);
}

.fi-flex-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
}

.fi-flex-iteml {
    width: 50%;
    padding: 20px;
}

.fi-heading {
	font-weight: normal;
    font-size: 36px;
    letter-spacing: -0.03em;
    color: #314438;
    padding-bottom: 20px;
	line-height: 110%;
	margin: 0 0 0.5em;
    font-family: 'Frank Ruhl Libre', serif;
}

.fi-slider {
    position: relative;
    display: block;
}

.fi-slider-text {
    font-size: 17px;
    color: black;
    margin: 0;
	font-weight: 1000;
	font-family: Montserrat;
}

.fi-flex-itemr {
    width: 40%;
    padding: 20px;
}

.fi-flex-container2 {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
	
}

.fi-flex-item2 {
    width: 100%;
    padding: 10px;
}

.fi-flex-item-content {
    border: 1px solid #333;
    border-radius: 2px;
    text-align: center;
    padding: 25px;
	height: 259px;
}

.fi-name {
    font-size: 14px;
    color: black;
    margin: 0;
	font-weight: 1000;
	font-family: Montserrat;
}

.fi-job-title {
    color: #314438;
    opacity: 0.7;
    margin: 0;
    padding-bottom: 8px;
    min-height: 55px;
	font-weight: 1000;
    font-size: 14px;
	font-family: Montserrat;
}

.fi-text {
    color: black;
    margin: 0;
    letter-spacing: 0;
    word-spacing: -1px;
	font-weight: 1000;
    font-size: 14px;
	font-family: Montserrat;
}


#footer {
	width: 100%; 
	color: #f2f2f2; 
	margin: 0; 
	background-color: #333; 
	border-top: 1px solid rgba(0,0,0,0); 
	font-weight: 550;
    font-size: 15px;
	font-family: Montserrat;
}

#footer .top {
	padding: 2em 0;
}

#footer .container {
	max-width: 80%;
}

.footer-flex-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
}

.footer-flex-iteml {
    width: 30%;
    padding: 20px;
	padding-left: 70px;
}

.footer-flex-itemc{
	width: 30%;
    padding: 20px;
	text-align: center;
	font-size: 17px;
}

.footer-flex-itemr {
    width: 30%;
    padding: 20px;
	text-align: right;
}

#footer .left-section{
	width: 40%;
	padding-right: 50px;
	margin: 0;
    padding: 0;
    border: 0;
	vertical-align: baseline;
}

#footer .right-section{
	width: 40%;
	
}
	
#footer .wrapper {
	width: 100%; 
}
	
#footer a:hover {
	color: #8dc0d2;
}

#footer .title {
	line-height: 150%; 
	font-weight: 500; 
	letter-spacing: 0.05em; 
	font-size: 1.3em; 
	margin-bottom: 0.2em; 
	text-transform: uppercase;
}

.back_to_top { /* при загрузке страницы*/
	position: fixed;
	bottom: 80px;
	right: 40px;
	z-index: 9999;
	width: 40px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	background: #333;
	color: #f2f2f2;
	cursor: pointer;
	border-radius: 2px;
	display: none;
}

.back_to_top:hover {
	background: #f2f2f2;
	color: #333;
}

.back_to_top-show { /*появляется на экране*/
	display: block;
}